{
  "running": false,
  "mode": "http_upload",
  "target_ip": "203.0.113.10",
  "target_port": 443,
  "upload_url": "http://203.0.113.10:8080/upload",
  "upload_token": "change-this-token",
  "ssh_host": "203.0.113.10",
  "ssh_user": "root",
  "ssh_password": "",
  "receiver_port": 8080,
  "receiver_remote_dir": "/opt/hamgane-receiver",
  "receiver_max_upload_mb": 20,
  "speed": 1,
  "randomizer_enabled": true,
  "min_cycle_upload_mb": 1,
  "max_cycle_upload_mb": 5,
  "cycle_sleep_seconds": 60,
  "max_cycle_sleep_seconds": 180,
  "total_upload_before_reboot": 0,
  "total_download_before_reboot": 0,
  "schedule_enabled": false,
  "schedule_mode": "off",
  "schedule_start_at": "",
  "schedule_end_at": "",
  "schedule_daily_start": "20:00",
  "schedule_daily_end": "08:00",
  "schedule_weekdays": "sat,mon,wed",
  "schedule_timezone_offset": 210
}
